<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_CrossLink>
			<version>2.0.0.6</version>
		</Fishpig_CrossLink>
	</modules>
	<global>
		<blocks>
			<crosslink>
				<class>Fishpig_CrossLink_Block</class>
			</crosslink>
		</blocks>
		<helpers>
			<crosslink>
				<class>Fishpig_CrossLink_Helper</class>
			</crosslink>
		</helpers>
		<models>
			<crosslink>
				<class>Fishpig_CrossLink_Model</class>
			</crosslink>
		</models>
	</global>
	<frontend>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<crosslink>
						<type>singleton</type>
						<class>crosslink/observer</class>
						<method>addBlockCommentsObserver</method>
					</crosslink>
				</observers>
			</core_block_abstract_to_html_after>
			<controller_front_send_response_before>
				<observers>
					<crosslink>
						<type>singleton</type>
						<class>crosslink/observer</class>
						<method>injectLinksObserver</method>
					</crosslink>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<default>
		<crosslink>
			<general>
				<enabled>1</enabled>
			</general>
			<target>
				<layout_handles>cms_page
catalog_product_view
catalog_category_view
wordpress_post_view
attributesplash_page_view
blog_post_view
</layout_handles>
			</target>
			<catalog_product>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>1</priority>
			</catalog_product>
			<catalog_category>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>2</priority>
			</catalog_category>
			<cms_page>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>4</priority>
			</cms_page>
			<wordpress_post>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>5</priority>
			</wordpress_post>
			<wordpress_category>
				<generate_links>1</generate_links>
				<priority>6</priority>
			</wordpress_category>
			<attributesplash_page>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>3</priority>
			</attributesplash_page>
			<splash_page>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>3</priority>
			</splash_page>
			<aw_blog>
				<enabled>1</enabled>
				<generate_links>1</generate_links>
				<priority>10</priority>
			</aw_blog>
			<aw_blog_categories>
				<enabled>0</enabled>
				<generate_links>0</generate_links>
				<priority>11</priority>
			</aw_blog_categories>
			<custom>
				<priority>10</priority>
			</custom>
			<limit>
				<request>12</request>
				<url>4</url>
				<keyword>4</keyword>
			</limit>
		</crosslink>
	</default>
</config>
